@font-face {
    font-family: "RussoOne Regular";
    src: url("../fonts/RussoOne/RussoOne-Regular.ttf") format("truetype");
}
body{
    background-color: #9BC5D2;
    font-family: "RussoOne Regular";
}

::placeholder{
    font-family: "RussoOne Regular";
}

#title{
    width: 400px;
    height:50px;
    border-radius: 20px;
}
input{
    outline: none;
    border: none;
    box-sizing: border-box;
    padding: 0 20px;
    font-family: "RussoOne Regular";
}
#description{
    width: 400px;
    height: 100px;
    border-radius: 35px;
}
#theme{
    width: 350px;
    height:50px;
    border-radius: 15px;
    outline: none;
    border: none;
}
#startBtn{
    /* margin-top: 15px; */
    margin: 15px 0;
    width: 350px;
    height: 50px;
    font-family: 'RussoOne Regular';
    border: none;
    border-radius: 15px;
    cursor: pointer;
}
.question-wrapper{
    display: flex;
    flex-direction: column;
}
.variants-wrapper{
    display: flex;   
    margin: 10px 0;
}
.question-block{
    display: flex;
    margin: 10px 0;
}
.question-block input{
    width: 450px;
    height: 50px;
    border-radius: 25px;
}
.variants-wrapper input{
    width: 150px;
    height: 30px;
    border-radius: 20px;
}
#questions,#question{
    margin: 10px 20px;
}
#correct1,#correct2,#correct3,#correct4,#correct5,#correct6,#correct7,#correct8,#correct9,#correct10{
    width: 20px;
}
#createTestBtn{
    margin: 15px 0;
    width: 350px;
    height: 50px;
    font-family: 'RussoOne Regular';
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.wrapper-one{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 70%;
    /* margin: 0 auto; */
}
.first{
    margin-top: 30px;
}
.image-wrapper{
    margin: 10px 0;
}